.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image:
    linear-gradient(
      (to top),
      rgba(41, 126, 196, 0.6),
      rgba(39, 79, 112, 0.5),
      rgba(12, 53, 105, 0.7),
      rgba(6, 36, 73, 0.8)
    ),
    url("https://res.cloudinary.com/dludtk5vz/image/upload/v1720088739/zuwqfzwyd3vcioexhkvi.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  .inner {
    background-color: #ad97d6;
    color: #090c38;
    padding: 5rem;
    margin: 1rem;
    border: 0 solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 2rem #3e3e3e;
    .h1 {
      font-size: 1rem;
      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: 1000px) {
        font-size: 2rem;
      }
    }
    .h3 {
      font-size: 0.5rem;
      @media screen and (min-width: 768px) {
        font-size: 0.8rem;
      }
      @media screen and (min-width: 1000px) {
        font-size: 1.2rem;
      }
    }
    .home {
      text-decoration: underline;
      color: #3e3e3e;
    }
  }
}
