.register {
  background-image: linear-gradient(
      (to top),
      rgba(41, 126, 196, 0.6),
      rgba(39, 79, 112, 0.5),
      rgba(12, 53, 105, 0.7),
      rgba(6, 36, 73, 0.8)
    ),
    url("https://res.cloudinary.com/dludtk5vz/image/upload/v1720088739/zuwqfzwyd3vcioexhkvi.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Jost", "sans-serif";
  select {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    color: #000000;
    border-color: rgba(122, 113, 113, 0.5);
  }
  .registerHeading {
    font-size: 3rem;
    margin-top: 10rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.9);

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }

  .registerForm {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    width: 70%;
    background-color: rgba(202, 206, 220, 1);
    height: auto;
    padding: 2rem 3rem;
    color: black;

    @media screen and (max-width: 500px) {
      padding: 1rem 2rem;
    }

    .headingForm {
      // padding: 2rem 3rem;
      display: flex;
      justify-content: space-between;
      height: auto;

      .textBox {
        margin-top: 1rem;
      }

      p {
        text-align: left;
        margin: 0;
        color: rgba(102, 102, 102, 1);
      }

      h1 {
        text-align: left;
        margin: 0;
        font-size: 2rem;
        color: rgba(2, 22, 46, 1);
        font-weight: 600;
      }

      .imagebox {
        img {
          width: 10rem;
          height: 9.5rem;
          margin-top: -1rem;

          @media screen and (max-width: 500px) {
            display: none;
          }
        }
      }
    }

    .formCredentials {
      // border: 2px solid black;
      width: 100%;
      height: 100%;

      label {
        display: flex;
        font-size: 1.25rem;
        margin-top: 1rem;
      }

      .formName {
        // border: 2px solid red;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        input {
          background-color: rgba(255, 255, 255, 1);
          outline: none;
          border-color: rgba(122, 113, 113, 0.5);
          width: 40%;
          height: 1.5rem;
          color: black;
        }
      }

      .nameFields {
        display: flex;
        margin-top: -1rem;
        gap: 52.5%;
        color: rgba(102, 102, 102, 1);
      }

      .formBranch {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        input {
          width: 100%;
          background-color: rgba(255, 255, 255, 1);
          outline: none;
          border-color: rgba(122, 113, 113, 0.5);
          height: 1.5rem;
          color: black;
        }

        textarea {
          width: 100%;
          background-color: rgba(255, 255, 255, 1);
          outline: none;
          border-color: rgba(122, 113, 113, 0.5);
          height: 1.5rem;
          color: black;
          height: 10rem;
        }
      }

      .formId {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .year {
          // border: 2px solid black;
          width: 40%;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 1rem;
          }

          input {
            // width: 100%;
            background-color: rgba(255, 255, 255, 1);
            outline: none;
            border-color: rgba(122, 113, 113, 0.5);
            height: 1.5rem;
            color: black;
          }
        }
      }

      .desc {
        margin-top: 0;
        display: flex;
        color: rgba(102, 102, 102, 1);
      }
      .prefParent {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        @media screen and (min-width: 600px) {
          flex-direction: row;
        }
        .prefCont {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          .prefInner {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          }
          .portWrap {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            input {
              background-color: rgba(255, 255, 255, 1);
              outline: none;
              border-color: rgba(122, 113, 113, 0.5);
              height: 1.5rem;
              color: black;
              width: 80%;
            }
          }
        }
      }
      .prefParent {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        @media screen and (min-width: 600px) {
          flex-direction: row;
        }
        .prefCont {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          .prefInner {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          }
          .portWrap {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
      .formRadio {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
        .field {
          display: flex;
          gap: 1rem;

          input {
            color: rgba(29, 28, 65, 1);
          }
        }
      }

      .formPreferences {
        // border: 2px solid black;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }

        .field1 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .fields {
            display: flex;
            flex-direction: row;

            align-items: center;
            // border: 2px solid red;
            width: 95%;
            justify-content: space-between;

            label {
              margin-bottom: 1rem;

              @media screen and (max-width: 500px) {
                font-size: 1rem;
              }
            }

            input {
              background-color: rgba(255, 255, 255, 1);
              outline: none;
              border-color: rgba(122, 113, 113, 0.5);
              height: 1.5rem;
              color: black;
              width: 60%;
            }
          }
        }
      }

      .formPayment {
        font-size: 1.5rem;
        display: flex;
      }

      .formPaymentDesc {
        text-align: left;
        color: rgba(102, 102, 102, 1);

        span {
          color: rgba(0, 0, 0, 1);
          font-weight: 500;
        }
      }

      .paymentCredentials {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding: 2rem 0;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }

        .textCredentials {
          display: flex;
          // border: 2px solid red;
          width: 60%;
          flex-direction: column;

          @media screen and (max-width: 500px) {
            width: 100%;
          }

          button {
            width: auto;
            background-color: rgba(201, 152, 78, 1);
            margin: auto;
          }

          .upiCredentials {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 500px) {
              flex-direction: column;
            }
          }

          .proof {
            display: flex;
            align-items: center;
            // gap: 1rem;
            justify-content: space-between;

            @media screen and (max-width: 500px) {
              width: 100%;
            }

            input {
              background-color: rgba(255, 255, 255, 1);
              outline: none;
              border-color: rgba(122, 113, 113, 0.5);
              height: 1.5rem;
              color: black;
              width: 70%;

              @media screen and (max-width: 500px) {
                width: 100%;
              }
            }
          }
        }

        .upiImage {
          height: 14rem;
          width: 20%;
          // border: 2px solid black;

          @media screen and (max-width: 500px) {
            width: 60%;
            margin: auto;
            margin-top: 2rem;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .formQueries {
        // border: 2px solid red;
        display: flex;
        padding: 0 3rem;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
          display: flex;
          padding: 0.5rem;
          gap: 0.5rem;
          width: 100%;
        }
      }
    }
  }
}
