.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(25, 24, 28, 0.7), rgba(0, 0, 0, 0.4)),
    url("https://res.cloudinary.com/dybbffhed/image/upload/v1720260150/mqaybcmes92eflfixxcm.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .loginCont {
    position: absolute;
    top: 6rem;
    right: 5%;
    display: flex;
    gap: 1.5rem;
    z-index: 50;

    button {
      background: transparent;
      border: 2px solid #795f33;
      padding: 0.6rem 1.8rem;
      color: white;
      font-weight: 600;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background: #795f33;
        color: black;
      }
    }

    .register {
      background: #795f33;
      color: black;
      &:hover {
        background: transparent;
        color: white;
      }
    }
  }

  .logoitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 5rem;

    @media screen and (min-width: 800px) {
      flex-direction: row;
      margin-top: 0;
    }

    .logoHolder {
      flex: 1;
      display: flex;
      justify-content: center;

      @media screen and (min-width: 800px) {
        justify-content: flex-end;
        padding-right: 5rem;
      }

      .logoimage {
        width: 18rem;
        height: auto;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));

        @media screen and (min-width: 800px) {
          width: 26rem;
        }
      }
    }

    .borderCont {
      display: none;
      @media screen and (min-width: 800px) {
        display: flex;
      }
      .borderline {
        width: 3px;
        height: 220px;
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(255, 255, 255, 0.9),
          transparent
        );
      }
    }

    .textarea {
      flex: 1;
      text-align: center;
      padding: 1rem;

      @media screen and (min-width: 800px) {
        text-align: left;
        padding-left: 5rem;
      }

      .heading {
        font-size: 2.7rem;
        color: white;
        letter-spacing: 0.25rem;
        margin: 0;

        span {
          letter-spacing: 0.5rem;
          font-weight: inherit;
        }
      }

      .bodyPara {
        margin-top: 3rem;
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 200;
        line-height: 1.1;
      }
    }
  }
}
