.FacultyAdv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  box-shadow: 0 1rem 10rem #274f70;
  background-image: url("/letterbg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(3px);
  background-blend-mode: darken;
  background-color: #00064e4a;
  padding: 1rem;
  @media screen and (min-width: 735px) {
    padding: 5rem;
  }
  .heading {
    padding: 2rem;
    text-shadow: 5px 5px 0.5rem #000000;
  }
  .innerCont {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    @media screen and (min-width: 735px) {
      flex-direction: row;
    }
    .photoCont {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      .photo {
        height: 8rem;
        width: 8rem;
        border: 0 solid transparent;
        border-radius: 1rem;
        backdrop-filter: blur(0px);
      }
    }
    .text {
      text-align: left;
      overflow: wrap;
      font-size: 0.7rem;
      @media screen and (min-width: 735px) {
        font-size: 1rem;
      }
    }
  }
}
