@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

.main {
  background: linear-gradient(
      to top,
      rgba(41, 126, 196, 0.6),
      rgba(39, 79, 112, 0.5),
      rgba(12, 53, 105, 0.7),
      rgba(6, 36, 73, 0.8)
    ),
    url("https://res.cloudinary.com/dludtk5vz/image/upload/v1720088739/zuwqfzwyd3vcioexhkvi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: white;
  padding-top: 3rem;
  font-family: "Jost", "sans-serif";
  .header {
    display: flex;
    @media screen and (min-width: 800px) {
      display: none;
    }
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    @media screen and (min-width: 800px) {
      width: 50%;
    }
    .headerDesktop {
      display: none;
      @media screen and (min-width: 800px) {
        display: flex;
      }
      font-size: 1rem;
    }
    form {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin: auto;
      gap: 1rem;
      padding: 20px;
      /* border: 1px solid #ccc; */
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      /* background-color: #f9f9f9; */
      font-size: 1.5rem;
      color: white;

      div {
        width: 100%;
        label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          font-weight: bold;
          color: #f1e9e9;
          width: 100%;
          input[type="text"],
          input[type="email"] {
            width: 90%;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            border-radius: 40px;
          }

          input[type="text"]::placeholder,
          input[type="email"]::placeholder {
            color: #aaa;
          }

          .textarea {
            width: 87%;
            height: 12rem;
            border-radius: 35px;

            background-color: rgb(255, 255, 255);
          }
        }
      }
      .subCont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        button[type="submit"] {
          width: 45%;
          background-color: #a1a30e;
          color: white;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px;
        }

        button[type="submit"]:hover {
          background-color: #cfd229;
        }
      }
    }
  }
  .right {
    background-color: #0000006d;
    display: none;
    width: 50%;
    min-height: 100vh;
    @media screen and (min-width: 800px) {
      display: flex;
    }
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logoCont {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        object-fit: cover;
      }
    }
    .details {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;
      .address {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1rem;
        .content {
          text-align: left;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
        }
      }
    }
  }
}

// .right-pic {
//   grid-row: 1 / 2;
//   grid-column: 2 / 3;

//   background: url("https://res.cloudinary.com/dybbffhed/image/upload/v1720419652/mf2h9pxyvxylqialegvn.png");
//   background-repeat: no-repeat;
//   background-size: 65%; /* Adjust the size of the background image */
//   background-position: 50% -250%;
//   /* Aligns the background image to the bottom center */
//   margin-bottom: 0px;
//   background-color: rgba(75, 72, 72, 0.3); /* Semi-transparent black overlay */
//   backdrop-filter: blur(15px);
// }

// .right-text {
//   grid-row: 2/3;
//   grid-column: 2/3;
//   /* background-color: rgb(185, 222, 185) ; */
//   margin-bottom: 0px;
// }
/* src/Form.css */
