.parent {
  background-color: #ffffff;

  background-image: linear-gradient(
      (to top),
      rgba(41, 126, 196, 0.6),
      rgba(39, 79, 112, 0.5),
      rgba(12, 53, 105, 0.7),
      rgba(6, 36, 73, 0.8)
    ),
    url("https://res.cloudinary.com/dludtk5vz/image/upload/v1720088739/zuwqfzwyd3vcioexhkvi.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ff0000;

  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Jost", "sans-serif";
}
