.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 1rem auto;

  .photoCont {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .photo {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 0 1rem #000000;
      margin: 1rem;
      border: 0 solid transparent;
      border-radius: 1rem;
    }
  }
  @media screen and (min-width: 400px) {
    .photoCont {
      border-radius: 1.5rem;

      .photo {
        margin: 1rem;
        border: 0 solid transparent;
        border-radius: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .photoCont {
      border-radius: 2rem;

      .photo {
        margin: 1rem;
        border: 0 solid transparent;
        border-radius: 2rem;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .photoCont {
      border-radius: 2.5rem;

      .photo {
        margin: 1rem;
        border: 0 solid transparent;
        border-radius: 2.5rem;
      }
    }
  }

  @media screen and (min-width: 700px) {
  }

  .photoCont {
    border-radius: 3rem;
    width: 40%;

    .photo {
      margin: 1rem;
      border: 0 solid transparent;
      border-radius: 3rem;
    }
  }
}
@media screen and (max-width: 2000px) {
  .innerCont {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .innerCont {
    width: 60%;
  }
}
@media screen and (max-width: 300px) {
  .innerCont {
    width: 80%;
  }
}
// @media screen and (min-width: 600px) {
//     .innerCont{
//         width: 70%;
//     }
// }
// @media screen and (min-width: 300px) {
//     .innerCont{
//         width: 80%;
//     }
// }
