.testimonialcontainer {
  background: linear-gradient(
      to top,
      rgba(21, 49, 72, 0.6),
      rgba(46, 120, 170, 0.6)
    ),
    url("https://res.cloudinary.com/dprjiwgfo/image/upload/v1720423200/lyvnjxmtu3uypwgdgwlf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    height: auto;
  }
}

.testimonialcontainerr .slick-arrow.slick-prev,
.testimonialcontainerr .slick-arrow.slick-next {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
}

.testimonialcontainerr .slick-prev::before,
.testimonialcontainerr .slick-next::before {
  display: none;
}

.testimonialcontainerr .slick-arrow.slick-next {
  right: -70px;
}

.testimonialcontainerr .slick-arrow.slick-prev {
  left: -70px;
}

.testimonialcontainerr .slick-dots li button:before {
  font-size: 15px;
  color: white;
}

.testimonialcontainerr .slick-dots li {
  top: 40px;
}
.testimonialcontainerr {
  background: linear-gradient(
      to top,
      rgba(21, 49, 72, 0.6),
      rgba(46, 120, 170, 0.6)
    ),
    url("https://res.cloudinary.com/dprjiwgfo/image/upload/v1720423200/lyvnjxmtu3uypwgdgwlf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  //border-radius: 10px;
}

.box {
  width: 100vw;
  height: 80vh;
  margin: 10px auto;
  font-size: 15px;

  @media screen and (max-width: 768px) {
    width: 90vw;
    height: auto;
    margin: 5px auto;
  }

  @media screen and (max-width: 480px) {
    width: 100vw;
    height: auto;
    margin: 5px auto;
  }
}

.header {
  text-align: left;
  margin-left: 100px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 10px;

  @media screen and (max-width: 768px) {
    text-align: center;
    margin-left: 0;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    margin-left: 0;
    font-size: 1.2rem;
  }
}

.upperbox {
  height: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 70px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.person1 {
  background-color: aqua;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 40px;
  margin-left: 40px;

  @media screen and (max-width: 768px) {
    height: 100px;
    width: 100px;
    padding: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    height: 50px;
    width: 50px;
    padding: 20px;
    margin-left: 0;
  }
}

.talk1 {
  background-color: rgba(169, 169, 182, 0.2);
  backdrop-filter: blur(60px);
  height: 300px;
  width: 45vw;
  margin-left: 75px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: -16px 29px 5px rgb(14, 2, 40);
  color: white;
  backdrop-filter: blur(100px);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    width: 90vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}

.designation1 {
  margin-top: 0px;
  text-align: right;
  padding: 20px;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
  }
}

.talky1 {
  margin-top: 40px;
  margin-left: 0px;
  padding: 25px;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.lowerbox {
  height: 50%;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-left: 110px;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: right;
    margin-top: 40px;
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.person2 {
  background-color: rgb(149, 149, 198);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 40px;
  margin: 0;

  @media screen and (max-width: 768px) {
    height: 100px;
    width: 100px;
    padding: 30px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    height: 0px;
    width: 50px;
    padding: 20px;
  }
}

.talk2 {
  background-color: rgba(255, 255, 255, 0.2);
  width: 45vw;
  height: 300px;
  color: white;
  margin-left: 400px;
  margin-right: 75px;
  margin-bottom: 30px;
  border-radius: 15px;
  backdrop-filter: blur(100px);
  box-shadow: 19px 29px 5px rgba(20, 2, 57, 0.5);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    width: 90vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}

.talky2 {
  margin-top: 40px;
  margin-left: 0px;
  padding: 25px;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.designation2 {
  margin-top: 0px;
  text-align: left;
  padding: 20px;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
  }
}
